

/* ==========================================================================
   Author's : Mininter OGSIP 
   Custom styles  Landing Page:  Tools for Remote Work  -  MININTER 
   Red Base : #C20B19
   Gray Base: #5C5C5C
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

   body {
      padding-top: 50px;
      padding-bottom: 0px;
  }

  hr {
   margin-top: 30px;
   margin-bottom: 50px
  }
  .mtRow{
     margin-top: 10px;
  }
   
nav.navbar.navbar-inverse.navbar-fixed-top {
    background: black;
    border: #D5D7D8;
}
.jumbotron { 
   background-color: #C20B19 !important;
}
 

.topnav {
   
   margin: 15px auto 0px auto;
   background-color: #333;
  /* background-color:#5C5C5C;*/
   overflow: hidden;
   /*position: fixed;*/
   max-width: 1114px;
  /* padding-right:8% ;*/
  z-index: 109;
 } 

 .bannerBienvenida {
    height: 200px;
 }

.firstTitleSection {
   margin-top: 0px;
}
.firstTitleSection, h1.secciones{
   font-size: 40px;
   
   text-align: center;
   margin-bottom: 40px;
   color: black;
   font-family: 'Montserrat', sans-serif;
}

h1.title {
   color: #fff;
   font-size: 22px;
   line-height: 150%;
   text-align: right;
}


div.seccion {
   /*background: lime;*/
   color: #5C5C5C;
   display: block;
   padding: 30px 15px;
   text-align: center; 
}

.jumbotron {
   padding: 30px 15px;
   margin-bottom: 30px;
   color: inherit;
   background-color: #eee;
 }






 
a.urlDiv{ 
   text-decoration: none; 
}
a.urlDiv:link {
   color:  #5C5C5C;
 } 
 a.urlDiv:visited {
   color: #5C5C5C;
 }
  
 /*a.urlDiv:hover {
   color:  #5C5C5C;
 } */
 a.urlDiv:active {
   color:  #C20B19;
 }

  .navbar-brand {
   float: left;
   /* height: 50px; */
   /* padding: 15px 15px; */
   font-size: 18px;
   /* line-height: 20px; */
}

  footer {
     background:#5C5C5C ;
     color: #fff;
     padding: 8PX;
   }

   footer p { 
      color: #fff; 
      font-size: 12px;      
         margin-bottom: 3px;
     
    }
    footer img { 
      float: right;
    }

    .appmargin {
       margin-bottom: 20px;
    }
  
 /*------------------- tarjetas aplicativos*/
.card{
border-radius: 4px;
border: 1px #D5D7D8 solid;

background:#ece8e8;
box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 120px 18px 36px;
cursor: pointer;
text-align: justify;
}
.cardManuales{
  
   padding: 20px;
}

.card:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

 
.card h3{
font-weight: 600;
text-align: center;
color: #252223;
}

.card img{
   display: block;

max-height: 120px;
margin: auto;
}

.cardBackground{
background-repeat: no-repeat;
background-position: right;
background-size: 20%;
}

.cardBackgroundManual{        
   background-size: 30%;
         }

   .sitradig{
      background-image: url(../img/aplicativos/sitradig.png);
      }

   .intranet{
         background-image: url(../img/aplicativos/intranet.png);
      }
     .sipp{
      background-image: url(../img/aplicativos/sipp.png);
     }
     .sisconvir{
      background-image: url(../img/aplicativos/sisconvir.png);
     }
     .googleMeet{
      background-image: url(../img/aplicativos/googlemeet.png);
     }
     .googleDrive{
      background-image: url(../img/aplicativos/googledrive.png);
     }
     .manualSitradig{
      background-image: url(../img/aplicativos/manualsitradig.png);
     }
     .manualIntranet{
      background-image: url(../img/aplicativos/manualintranet.png);
     }
     .manualSipp{
      background-image: url(../img/aplicativos/manualsipp.png);
     }
     .manualSisconvir{
      background-image: url(../img/aplicativos/manualsisconvir.png);
     }
    
.float-end {
float: right!important;
}

@media(max-width: 990px){


   a.navbar-brand  {
      
      width: 100%;
    
   }

   a.navbar-brand img  {
      margin: auto;

    
   }

.card{
margin: 20px;
padding: 20px;
}


         .topnav { 
             
            padding-right:0% ;
          }

          footer img { 
           display: none;
          }

} 














